* {
    padding: 0;
    margin: 0;
}

.menu {
    width: 100%;
    height: 60px;
    background-color:red;
}

.conteudo {
    width: 100%;
    background-color: aquamarine;
}

.rodape {
    background-color: aqua;
    width: 100%;
    text-align: center;
}

.info-cinema {
    width: 100%;
    background-color: violet;
}

.info-filme {
    width: 100%;
    background-color: crimson;
}

.info-filme-retro {
    width: 100%;
    background-color: lawngreen;
}

.info-destaque {
    width: 100%;
    background-color: darkgoldenrod;
}